#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.linkWrapper{
    position: relative;
    width: 200px;
    height: 50px;
    left: 150px;
    top: 350px;
    right: 200px;
    font-size: 25px;
}