{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" href={{ asset("styles/index.css") }} > 
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if app.user %}
        <a href={{ path("createpage") }}>Click here to create a page</a>
{% endif %}

<div class="search-wrapper">
    <form action="search" method="POST">
        <input class="searchbar" type="text" placeholder="Search..">
        <button type="submit">Search</button>
    </form>
    
</div>

<audio controls autoplay class="invis">
    <source src="{{ asset("music/audio.mp3") }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio> 
{% endblock %}
